<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Shop</title>
</head>
<body>
    <h3>About us:</h3>
    <img src="/images/petShopImage.jpg">
    <br>
    <p>It's a "pet" project created by Pavel Kaminski</p>
    <p>It's a project of a virtual pet shop offering various goods for pets</p>
    <p>The project is built using Spring technology, and it's COOL!</p>
    <p>So let's have fun! And be so kind to send your comments and suggestions to my e-mail</p>
    <a href="mailto: sdminvest@gmail.com"> Send e-mail</a>

</body>
</html>