<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/ps_icon.png">

    <title>Pet Shop</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>

<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <div style="width:35px; height: 35px; background-color: azure; position: relative; margin-right: 5px" >
                    <img src="/images/ps_icon.png" style="height: 25px; width: 25px; position: absolute; top: 10%; left: 15%"/>
                </div>
                <strong>Pets Shop</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Pets Shop</h1>
            <p class="lead text-muted">Товары для зверюшек на любой вкус и цвет</p>
            <p>
                <a href="/additem" class="btn btn-primary my-2">Добавить товар</a>
                <a href="/allitems" class="btn btn-secondary my-2">Просмотреть все товары</a>
            </p>
        </div>
    </section>

    <form method="post" action="/additem">
        <input type="text" name="name" placeholder="Название товара" class="form-control"><br>
        <input type="text" name="price" placeholder="Цена товара" class="form-control"><br>
        <input type="text" name="weight" placeholder="Вес товара" class="form-control"><br>
        <input type="text" name="length" placeholder="Длина товара" class="form-control" ><br>
        <input type="text" name="width" placeholder="Ширина товара" class="form-control"><br>
        <input type="text" name="height" placeholder="Высота товара" class="form-control"><br>
        <input type="text" name="description" placeholder="Описание товара" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить товар</button>
    </form>

    <div style="height: 50px"></div>

</main>

<footer class="text-muted" style="background-color: lightgray">
    <div class="container">
        <p class="float-right">
            <a href="about" style="margin-right: 20px">About</a>
            <a href="/">Back to main</a>
        </p>
        <p>Pet Shop is &copy; Pavel Kaminski, based on BootStrap</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>